{{ define "main" }}

<header class="article-header">

  <!-- Title -->
  <h1 class="mb-1">{{ .Title }}</h1>

  <!-- Meta -->
  <div class="article-meta mb-1">
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "Jan 2, 2006" .Site.Params.dateFormat) }}
    </time>
  </div>

  <!-- Tech Stack Badges -->
  {{ with .Params.tags }}
  <div class="badge-group mb-1">
    {{ range . }}
      {{ if ne . "portfolio" }}
        <span class="badge">{{ . }}</span>
      {{ end }}
    {{ end }}
  </div>
  {{ end }}

  <!-- External Link -->
  {{ with .Params.link }}
  <p class="mb-1">
    <a href="{{ . }}" target="_blank">
      View Project ↪
    </a>
  </p>
  {{ end }}

  <!-- Featured Image -->
  {{ with .Params.featured_image }}
  <div class="featured-image-container">
    <img src="{{ . }}" alt="{{ $.Title }}" style="width:100%;">
  </div>
  {{ end }}

</header>

<!-- Content -->
<article>
  {{ .Content }}
</article>

<!-- Tags -->
{{ if (.GetTerms "tags") }}
<div class="tag-list">
  {{ range (.GetTerms "tags") }}
    <a class="tag-item" href="{{ .RelPermalink }}">
      #{{ lower .LinkTitle }}
    </a>
  {{ end }}
</div>
{{ end }}

<!-- Footer -->
<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 4rem;">

  {{ with $.CurrentSection }}
  <p>
    <a href="{{ .RelPermalink }}" class="back-button">
      ← {{ i18n "backTo" }} {{ .Title }}
    </a>
  </p>
  {{ end }}

</div>

{{ end }}
